.box {
  position: absolute;
  width: 700px;
  height: 60px;
  background-color: gray;
  border-radius: 1px;
  cursor: grab;
  left: 70px;
}

.dragHandle {
  position: absolute;
  background-color: gray;
  border-radius: 15px;
  left: 0;
  top: 60px;
}

.dragHandle.bottom {
  height: 2px;
  width: 700px;
  cursor: ns-resize;
}
