<mat-dialog-content>
  <form [formGroup]="appointmentForm" (ngSubmit)="submitForm()">
    <mat-form-field class="example-full-width">
      <mat-label>Appointment name</mat-label>
      <input
        matInput
        placeholder="Title"
        formControlName="title"
        name="title"
      />
      <mat-error *ngIf="appointmentForm.get('title').invalid"
        >Title is required</mat-error
      >
    </mat-form-field>

    <mat-form-field>
      <mat-label>Select Start Time</mat-label>
      <mat-select formControlName="startTime" name="startTime">
        <mat-option *ngFor="let time of times" [value]="time">{{
          time
        }}</mat-option>
      </mat-select>
      <mat-error *ngIf="appointmentForm.get('startTime').invalid"
        >Start time is required</mat-error
      >
    </mat-form-field>

    <mat-form-field>
      <mat-label>Select End Time</mat-label>
      <mat-select formControlName="endTime" name="endTime">
        <mat-option *ngFor="let time of times" [value]="time">{{
          time
        }}</mat-option>
      </mat-select>
      <mat-error *ngIf="appointmentForm.get('endTime').invalid"
        >End time is required</mat-error
      >
    </mat-form-field>
    <!-- Error message for time validation -->
    <div *ngIf="appointmentForm.errors?.timeInvalid && appointmentForm.touched">
      End Time must be later than Start Time.
    </div>

    <button
      mat-raised-button
      type="submit"
      color="primary"
      [disabled]="!appointmentForm.valid"
    >
      Submit
    </button>
    <button mat-button (click)="closeDialog()">Close</button>
  </form>
</mat-dialog-content>
