<div class="calender-view-container">
  <div *ngFor="let schedule of schedules; index as i">
    <app-appointment
      [startTime]="startTime"
      [index]="i"
      [schedule]="schedule"
    ></app-appointment>
  </div>

  <app-date-picker></app-date-picker>
  <div class="calender-view-time-slot" #myList>
    @for (slot of timeSlots; track slot) {
    <div
      #listItem
      class="calender-view-slot"
      (click)="handleClick($event)"
      (cdkDragEntered)="onDragEnter($event, slot)"
      (cdkDragExited)="onDragExit($event, slot)"
    >
      <div class="calender-view-time">
        {{ slot.startTime }}
      </div>

      <div class="calender-view-line"></div>
    </div>
    }
  </div>
</div>
