.calender-view-container {
  display: flex;
  height: 1427px;
  // flex-direction: row;
  // gap: 32px;
  .calender-view-time-slot {
    .calender-view-slot {
      display: flex;
      height: 60px;
      // align-items: center;
      gap: 16px;
      .calender-view-line {
        border-top: 1px solid #383838;
        width: 970px;
        position: relative;
        // top: 10px;
      }
      .calender-view-line-decimal {
        border-top: 1px solid #c6c3c3;
        width: 970px;
        position: relative;
      }
    }
  }
}
