<div class="calender-view-container">
  <div *ngFor="let schedule of schedules; index as i">
    <app-appointment
      [startTimeAppointment]="schedule.startTime"
      [endTimeAppointment]="schedule.endTime"
      [index]="i"
      [schedule]="schedule"
    ></app-appointment>
  </div>
  <div class="calender-view-datePicker">
    <app-date-picker></app-date-picker>
    <button mat-raised-button color="primary" (click)="handleClick()">
      ADD APPOINTMENT
    </button>
  </div>

  <div
    class="calender-view-time-slot"
    #myList
    (dragover)="onDragOver($event)"
    (drop)="onDrop($event)"
  >
    @for (slot of timeSlots; track slot) {
    <div
      class="calender-view-slot"
      (click)="handleClick()"
      (cdkDropListDropped)="drop($event)"
    >
      <div class="calender-view-time">
        {{ slot.startTime }}
      </div>

      <div class="calender-view-line">
        <div *ngFor="let num of slot.Decimal; let i = index">
          <div
            [ngStyle]="{ position: 'absolute', top: calculateTop(i) }"
            class="calender-view-line-decimal"
          ></div>
        </div>
      </div>
    </div>
    }
  </div>
</div>
