<div class="container">
  <div>
    <app-date-picker
      (dataEvent)="getListSchedulePerDate($event)"
    ></app-date-picker>
    <button mat-button (click)="handleClick()">add schedule</button>
  </div>
  <div class="mainBox">
    <div *ngFor="let schedule of listScheduleTime; let i = index">
      <app-draggable-element
        (dataEvent)="updateSchedulePerDate($event)"
        [schedule]="schedule"
        [numberIndex]="i"
      ></app-draggable-element>
    </div>
    <div class="slotContainer">
      <div *ngFor="let slot of timeSlots; let i = index">
        <div class="container" (click)="handleClick()">
          <div class="time-slot">
            {{ slot.startTime }}
          </div>
          <div class="line"></div>
        </div>
      </div>
    </div>
  </div>
</div>
